.newsletter {
  background-color: var(--azul-claro);
  padding: var(--padding-xxl) 0;
  text-align: center; 
}

.form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-s);
  flex-wrap: wrap; 
}

.titulo {
  color: var(--preto);
  font-family: var(--fonte-titulo);
  font-size: var(--font-size-l);
  text-align: center; 
  margin-bottom: var(--margin-l);
  width: 100%; 
  display: block;
}

.error {
  color: #e63946;
  font-size: var(--font-size-s);
  margin-top: var(--margin-s);
  text-align: center;
}