# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
.yarn/*
.yarnrc.yml

# Builds / Coverage
dist/
build/
coverage/
.cache/
.temp/

# Env / Secrets
.env
*.local

# Misc
.DS_Store
.logs/
*.log
